.svg-btn {
    -fx-max-width: 16;
    -fx-max-height: 16;
}

.svg-btn Region {
    -fx-background-color: white;
}

.svg-btn:hover Region {
    -fx-background-color: -base-hover-color;
}

.content-pane {
    -fx-background-color: #2759d5;
    -fx-background-image: url("../img/bg_black.jpg");
    -fx-background-size: cover;
}

/*------------底部区域 --------------*/
.time-label {
    -fx-text-fill: white;
    -fx-font-size: 20;

}


.prev-btn Region {
    -fx-shape: "M364.302083 465.602819L687.954365 218.588294c38.416414-29.327534 93.791393-1.929039 93.791392 46.396277v494.029051c0 48.325316-55.374979 75.725617-93.791392 46.398084L364.302083 558.397181c-30.600916-23.357989-30.600916-69.436372 0-92.794362zM238.945254 780.798397V451.684117v-164.562559c0-19.628152-5.904521-60.475733 17.057907-75.841215 25.523642-17.068744 59.747828 1.210165 59.747828 31.919454v493.676839c0 19.628152 5.915358 60.473927-17.047069 75.841215-25.53448 17.068744-59.758666-1.211971-59.758666-31.919454z";
}

.play-btn {
    -fx-background-color: null;
}

.play-btn Region {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: "M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512S793.6 0 512 0z m0 981.333333C253.866667 981.333333 42.666667 770.133333 42.666667 512S253.866667 42.666667 512 42.666667s469.333333 211.2 469.333333 469.333333-211.2 469.333333-469.333333 469.333333zM672 441.6l-170.666667-113.066667c-57.6-38.4-106.666667-12.8-106.666666 57.6v256c0 70.4 46.933333 96 106.666666 57.6l170.666667-113.066666c57.6-42.666667 57.6-106.666667 0-145.066667z";
    -fx-background-color: -base-hover-color;
}

.play-btn:selected Region {
    -fx-shape: "M512 42.666667C252.793333 42.666667 42.666667 252.793333 42.666667 512s210.126667 469.333333 469.333333 469.333333 469.333333-210.126667 469.333333-469.333333S771.206667 42.666667 512 42.666667z m106.666667 682.666666a21.333333 21.333333 0 0 1-21.333334-21.333333V320a21.333333 21.333333 0 0 1 42.666667 0v384a21.333333 21.333333 0 0 1-21.333333 21.333333z m-213.333334 0a21.333333 21.333333 0 0 1-21.333333-21.333333V320a21.333333 21.333333 0 0 1 42.666667 0v384a21.333333 21.333333 0 0 1-21.333334 21.333333z";
}

.next-btn Region {
    -fx-shape: "M655.706179 465.602819L332.053897 218.588294c-38.414608-29.327534-93.791393-1.929039-93.791392 46.396277v494.029051c0 48.325316 55.376785 75.725617 93.791392 46.398084l323.652282-247.014525c30.602722-23.357989 30.602722-69.436372 0-92.794362zM781.064814 780.798397V451.684117v-164.562559c0-19.628152 5.904521-60.475733-17.057907-75.841215-25.523642-17.068744-59.747828 1.210165-59.747828 31.919454v493.676839c0 19.628152-5.915358 60.473927 17.047069 75.841215 25.532673 17.068744 59.758666-1.211971 59.758666-31.919454z";
}

.sound-btn Region {
    -fx-shape: "M509.226667 167.722667l-222.442667 184.341333c-16.704 13.866667-43.178667 23.402667-64.896 23.402667H170.730667A42.666667 42.666667 0 0 0 128 418.090667v187.434666c0 23.466667 19.178667 42.624 42.730667 42.624H221.866667c21.802667 0 48.170667 9.536 64.896 23.402667l222.421333 184.32V167.744zM259.541333 704.426667c-9.045333-7.509333-25.770667-13.589333-37.674666-13.589334H170.730667A85.418667 85.418667 0 0 1 85.333333 605.525333v-187.434666A85.333333 85.333333 0 0 1 170.730667 332.8H221.866667c11.776 0 28.629333-6.08 37.674666-13.589333L519.125333 104.106667c18.090667-14.997333 32.746667-8.170667 32.746667 15.402666v784.64c0 23.488-14.677333 30.378667-32.746667 15.402667L259.562667 704.405333z m436.117334-4.821334a21.333333 21.333333 0 1 1-26.026667-33.834666A196.608 196.608 0 0 0 746.666667 509.504c0-57.408-29.269333-112.32-77.482667-151.637333a21.333333 21.333333 0 1 1 26.965333-33.066667C753.792 371.797333 789.333333 438.485333 789.333333 509.504c0 75.370667-35.050667 144.981333-93.653333 190.08z m64 170.666667a21.333333 21.333333 0 1 1-26.026667-33.834667A414.506667 414.506667 0 0 0 896 507.029333c0-121.642667-61.696-237.354667-162.816-319.829333a21.333333 21.333333 0 1 1 26.965333-33.066667C870.698667 244.309333 938.666667 371.776 938.666667 507.029333a457.173333 457.173333 0 0 1-178.986667 363.221334z";
}

.show-list-btn Region {
    -fx-shape: "M896.021502 255.956996 607.897867 255.956996c-17.717453 0-31.994625-14.277171-31.994625-31.994625 0-17.717453 14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625C928.016126 241.679825 913.738955 255.956996 896.021502 255.956996zM896.021502 415.930119 607.897867 415.930119c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S913.738955 415.930119 896.021502 415.930119zM896.021502 672.05913 607.897867 672.05913c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S913.738955 672.05913 896.021502 672.05913zM896.021502 832.032253 607.897867 832.032253c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S913.738955 832.032253 896.021502 832.032253zM383.935495 479.919368 191.967747 479.919368c-52.980346 0-95.983874-43.003528-95.983874-95.983874L95.983874 191.967747c0-52.980346 43.003528-95.983874 95.983874-95.983874l191.967747 0c52.980346 0 95.983874 43.003528 95.983874 95.983874l0 191.967747C479.919368 436.915841 436.915841 479.919368 383.935495 479.919368zM191.967747 159.973123c-17.545439 0-31.994625 14.449185-31.994625 31.994625l0 191.967747c0 17.545439 14.449185 31.994625 31.994625 31.994625l191.967747 0c17.545439 0 31.994625-14.449185 31.994625-31.994625L415.930119 191.967747c0-17.545439-14.449185-31.994625-31.994625-31.994625L191.967747 159.973123 191.967747 159.973123zM383.935495 928.016126 191.967747 928.016126c-52.980346 0-95.983874-43.003528-95.983874-95.983874L95.983874 639.892491c0-52.980346 43.003528-95.983874 95.983874-95.983874l191.967747 0c52.980346 0 95.983874 43.003528 95.983874 95.983874l0 191.967747C479.919368 884.840585 436.915841 928.016126 383.935495 928.016126zM191.967747 607.897867c-17.545439 0-31.994625 14.277171-31.994625 31.994625l0 191.967747c0 17.717453 14.449185 31.994625 31.994625 31.994625l191.967747 0c17.545439 0 31.994625-14.277171 31.994625-31.994625L415.930119 639.892491c0-17.717453-14.449185-31.994625-31.994625-31.994625L191.967747 607.897867 191.967747 607.897867z";
}

/*------中间区域------*/
.lrc-pane,
.spectrum-pane {
    -fx-border-width: 0; /*去除边框*/

}

/* 频谱可视化组件 */
.rx-audio-spectrum {
    /*频谱柱子的形状*/
    -rx-bar-shape: "M838.374502 504.860558q2.039841 8.159363 5.099602 17.338645l4.079681 16.318725q2.039841 8.159363 2.039841 13.258964 0 28.557769-15.298805 50.486056t-39.776892 32.12749q-9.179283 1.01992-19.378486 1.01992-8.159363 1.01992-18.358566 1.01992l-19.378486 0-159.10757 2.039841 0 170.326693q0 37.737052 1.52988 75.984064t3.569721 68.844622q2.039841 36.717131 5.099602 70.374502l-146.868526 0 3.059761-39.776892q1.01992-23.458167 2.039841-63.74502t1.01992-107.601594l0-156.047809q-17.338645 15.298805-38.756972 15.298805-17.338645 0-30.087649-8.159363t-20.908367-22.438247l-115.250996-6.119522q-33.657371-8.159363-56.095618-34.167331t-22.438247-61.705179q0-6.119522 1.01992-11.219124t3.059761-10.199203l25.498008-59.155378q2.039841-22.438247 12.749004-41.816733t27.027888-33.657371l160.12749-296.796813 1.01992 0q19.378486-35.697211 45.896414-61.195219t68.334661-25.498008q36.717131 0 65.784861 19.378486t43.346614 50.996016l128.50996 251.920319q34.677291 12.239044 57.115538 42.836653t22.438247 70.374502q0 16.318725-5.099602 34.677291z";
    -rx-crest-pos: DOUBLE;
}

.rx-audio-spectrum .bar-box {
    -fx-spacing: 2;
}

.rx-audio-spectrum .bar {
    -fx-background-color: -base-hover-color;
}

/*歌词组件*/
.rx-lrc-view {
    -rx-line-height: 50;
    -fx-font-size: 19;
    /*字体*/
    -fx-font-family: "华文行楷";
}

.rx-lrc-view .lrc-line {
    -fx-text-fill: white;
}

.rx-lrc-view .lrc-line:playing {
    -fx-text-fill: -base-hover-color;
}

/* MediaProgressBar 多媒体播放进度条 */
.rx-media-progress-bar {
    -fx-pref-height: 7;
    /*当前播放进度条颜色*/
    -rx-current-fill: -base-hover-color;
    /*圆形按钮的颜色*/
    -rx-thumb-fill: -base-hover-color;
}
.rx-media-progress-bar:hover {
    -fx-pref-height: 10;
}


/*-----------------顶部区域-----------------*/
.logo-label {
    -fx-fill: white;
    -fx-font-size: 23;
}

.skin-btn Region {
    -fx-shape: "M772.8 96v64l163.2 161.6-91.2 91.2c-12.8-11.2-27.2-16-43.2-16-36.8 0-65.6 28.8-65.6 65.6V800c0 35.2-28.8 64-64 64H352c-35.2 0-64-28.8-64-64V462.4c0-36.8-28.8-65.6-65.6-65.6-16 0-32 6.4-43.2 16l-91.2-91.2L249.6 160h40l1.6 1.6C336 228.8 420.8 272 512 272c91.2 0 176-41.6 220.8-110.4 0-1.6 1.6-1.6 1.6-1.6h38.4V96M291.2 96H256c-22.4 0-38.4 6.4-49.6 19.2L43.2 276.8c-25.6 25.6-25.6 65.6 0 89.6l94.4 94.4c11.2 11.2 27.2 17.6 41.6 17.6s30.4-6.4 41.6-17.6h1.6c1.6 0 1.6 0 1.6 1.6V800c0 70.4 57.6 128 128 128h320c70.4 0 128-57.6 128-128V462.4c0-1.6 0-1.6 1.6-1.6h1.6c11.2 11.2 27.2 17.6 41.6 17.6 16 0 30.4-6.4 41.6-17.6l94.4-94.4c25.6-25.6 25.6-65.6 0-89.6L819.2 115.2c-12.8-12.8-28.8-19.2-46.4-19.2h-40c-22.4 0-41.6 11.2-54.4 30.4-33.6 49.6-96 81.6-168 81.6s-134.4-33.6-168-81.6C332.8 107.2 312 96 291.2 96z";
}

.full-btn {
    -fx-background-color: null;
}

.full-btn Region {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-shape: "M240.8 196l178.4 178.4-45.6 45.6-177.6-179.2-68 68V128h180.8l-68 68z m133.6 408.8L196 783.2 128 715.2V896h180.8l-68-68 178.4-178.4-44.8-44.8zM715.2 128l68 68-178.4 178.4 45.6 45.6 178.4-178.4 68 68V128H715.2z m-65.6 476.8l-45.6 45.6 178.4 178.4-68 68H896V715.2l-68 68-178.4-178.4z";
    -fx-background-color: white;
}

.full-btn:selected Region {
    -fx-shape: "M341.065143 910.189714v-146.285714c0-53.686857-43.885714-97.572571-97.572572-97.572571h-146.285714a48.786286 48.786286 0 0 0 0 97.499428h146.285714v146.285714a48.786286 48.786286 0 1 0 97.499429 0z m-292.571429-617.910857c0 26.916571 21.796571 48.786286 48.713143 48.786286h146.285714c53.686857 0 97.572571-43.885714 97.572572-97.572572v-146.285714a48.786286 48.786286 0 0 0-97.499429 0v146.285714h-146.285714a48.786286 48.786286 0 0 0-48.786286 48.786286z m910.409143 0a48.786286 48.786286 0 0 0-48.713143-48.786286h-146.285714v-146.285714a48.786286 48.786286 0 1 0-97.499429 0v146.285714c0 53.686857 43.885714 97.572571 97.499429 97.572572h146.285714a48.786286 48.786286 0 0 0 48.713143-48.786286z m0 422.765714a48.786286 48.786286 0 0 0-48.713143-48.713142h-146.285714c-53.686857 0-97.572571 43.885714-97.572571 97.572571v146.285714a48.786286 48.786286 0 1 0 97.499428 0v-146.285714h146.285714a48.786286 48.786286 0 0 0 48.786286-48.786286z";
}

.full-btn:hover Region {
    -fx-background-color: -base-hover-color;
}


.mini-btn Region {
    -fx-shape: "M784 80H240C152 80 80 152 80 240v544c0 88 72 160 160 160h544c88 0 160-72 160-160V240c0-88-72-160-160-160z m96 704c0 52.8-43.2 96-96 96h-96v-96c0-52.8 43.2-96 96-96h96v96z m0-160h-96c-88 0-160 72-160 160v96H240c-52.8 0-96-43.2-96-96V240c0-52.8 43.2-96 96-96h544c52.8 0 96 43.2 96 96v384zM560 336c-17.6 0-32 14.4-32 32v115.2L302.4 257.6c-12.8-12.8-32-12.8-44.8 0-12.8 12.8-12.8 32 0 44.8L483.2 528H368c-17.6 0-32 14.4-32 32s14.4 32 32 32h192c9.6 0 17.6-3.2 22.4-9.6 6.4-6.4 9.6-14.4 9.6-22.4V368c0-17.6-14.4-32-32-32z";
}

.close-btn Region {
    -fx-shape: "M550.848 502.496l308.64-308.896a31.968 31.968 0 1 0-45.248-45.248l-308.608 308.896-308.64-308.928a31.968 31.968 0 1 0-45.248 45.248l308.64 308.896-308.64 308.896a31.968 31.968 0 1 0 45.248 45.248l308.64-308.896 308.608 308.896a31.968 31.968 0 1 0 45.248-45.248l-308.64-308.864z";
}

.close-btn:hover Region {
    -fx-background-color: red;
}


/*---------歌曲列表页---------*/
.slider-pane {
    -fx-background-color: white;

}

.slider-pane-bottom {
    -fx-border-color: -base-hover-color;
    -fx-border-width: 2 0 0 0;
}

.hide-list-btn Region {
    -fx-shape: "M896.021502 255.956996 607.897867 255.956996c-17.717453 0-31.994625-14.277171-31.994625-31.994625 0-17.717453 14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625C928.016126 241.679825 913.738955 255.956996 896.021502 255.956996zM896.021502 415.930119 607.897867 415.930119c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S913.738955 415.930119 896.021502 415.930119zM896.021502 672.05913 607.897867 672.05913c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S913.738955 672.05913 896.021502 672.05913zM896.021502 832.032253 607.897867 832.032253c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l287.951621 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S913.738955 832.032253 896.021502 832.032253zM383.935495 479.919368 191.967747 479.919368c-52.980346 0-95.983874-43.003528-95.983874-95.983874L95.983874 191.967747c0-52.980346 43.003528-95.983874 95.983874-95.983874l191.967747 0c52.980346 0 95.983874 43.003528 95.983874 95.983874l0 191.967747C479.919368 436.915841 436.915841 479.919368 383.935495 479.919368zM191.967747 159.973123c-17.545439 0-31.994625 14.449185-31.994625 31.994625l0 191.967747c0 17.545439 14.449185 31.994625 31.994625 31.994625l191.967747 0c17.545439 0 31.994625-14.449185 31.994625-31.994625L415.930119 191.967747c0-17.545439-14.449185-31.994625-31.994625-31.994625L191.967747 159.973123 191.967747 159.973123zM383.935495 928.016126 191.967747 928.016126c-52.980346 0-95.983874-43.003528-95.983874-95.983874L95.983874 639.892491c0-52.980346 43.003528-95.983874 95.983874-95.983874l191.967747 0c52.980346 0 95.983874 43.003528 95.983874 95.983874l0 191.967747C479.919368 884.840585 436.915841 928.016126 383.935495 928.016126zM191.967747 607.897867c-17.545439 0-31.994625 14.277171-31.994625 31.994625l0 191.967747c0 17.717453 14.449185 31.994625 31.994625 31.994625l191.967747 0c17.545439 0 31.994625-14.277171 31.994625-31.994625L415.930119 639.892491c0-17.717453-14.449185-31.994625-31.994625-31.994625L191.967747 607.897867 191.967747 607.897867z";
    -fx-background-color: -base-hover-color;
}

.add-btn {
    -fx-background-color: -base-hover-color;
}

/*按钮按下时，加深颜色*/
.add-btn:pressed {
    /*派生函数接受一种颜色，并计算该颜色的较亮或较暗版本。第二个参数是亮度偏移量，表示派生颜色应该亮多少或暗多少。正的百分比表示较亮的颜色，负的百分比表示较暗的颜色。值-100%表示完全黑，0%表示亮度没有变化，100%表示完全白。*/
    -fx-background-color: derive(-base-hover-color, -20%);
}

.slider-pane-top {
    -fx-border-color: -base-hover-color;
    -fx-border-width: 0 0 2 0;
}

.cover-pane {
    -fx-background-color: #0002;
}

.list-view {
    -fx-font-size: 14;
    -fx-focus-color: #0000;
    -fx-faint-focus-color: #0000;
}

.list-cell {
    -fx-pref-height: 40;
}

.list-cell:hover,
.list-cell:selected {
    -fx-background-color: #e0e0e0;
}

.list-cell:hover .label,
.list-cell:selected .label {
    -fx-text-fill: -base-hover-color;
}

.list-cell .remove-btn {
    -fx-background-color: null;
    -fx-pref-width: 38;
    -fx-pref-height: 38;
    visibility: hidden;
}

.list-cell:selected .remove-btn,
.list-cell:hover .remove-btn {
    visibility: visible;
}

.list-cell:empty {
    -fx-background-color: null;
}

.list-cell .remove-btn Region {
    -fx-shape: "M106.666667 213.333333h810.666666v42.666667H106.666667zM640 128v42.666667h42.666667V128c0-23.573333-19.093333-42.666667-42.538667-42.666667H383.872A42.496 42.496 0 0 0 341.333333 128v42.666667h42.666667V128h256zM213.333333 896V256H170.666667v639.957333C170.666667 919.552 189.653333 938.666667 213.376 938.666667h597.248C834.218667 938.666667 853.333333 919.68 853.333333 895.957333V256h-42.666666v640H213.333333zM320 341.333333h42.666667v384h-42.666667zM490.666667 341.333333h42.666666v384h-42.666666zM661.333333 341.333333h42.666667v384h-42.666667z";
    -fx-background-color: -base-hover-color;
}

/*----------------声音弹窗----------------*/
.sound-root {
    -fx-background-color: null;
}

.sound-pane {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.sound-slider .track,
.sound-slider .thumb {
    -fx-background-color: -base-hover-color;
}

.sound-slider .track {
    -fx-max-width: 3;
    -fx-min-width: 3;
    -fx-pref-width: 3;
}

/*end*/

/*------------------换肤弹窗---------------*/
.skin-root {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.skin-toggle-btn:selected Region {
    -fx-shape: "M512 128C300.8 128 128 300.8 128 512s172.8 384 384 384 384-172.8 384-384S723.2 128 512 128zM748.8 384l-294.4 294.4c-6.4 6.4-19.2 12.8-32 12.8 0 0 0 0 0 0 0 0-6.4 0-6.4 0-12.8 0-19.2-6.4-32-12.8L262.4 582.4C243.2 563.2 243.2 531.2 256 512c19.2-19.2 44.8-25.6 70.4-6.4l89.6 76.8L678.4 320c19.2-19.2 51.2-19.2 70.4 0C768 332.8 768 364.8 748.8 384z";
    -fx-background-color: -base-hover-color;
}

.skin-gold {
    -fx-background-image: url("../img/skin-gold.png");
}

.skin-black {
    -fx-background-image: url("../img/skin-black.png");
}

.skin-blue {
    -fx-background-image: url("../img/skin-blue.png");
}

.skin-colorful {
    -fx-background-image: url("../img/skin-colorful.png");
}

/*end*/
